<mat-progress-spinner *ngIf="loading$ | async" color="primary" mode="indeterminate" value="50">
</mat-progress-spinner>

<div class="reviews-container" *ngIf="reviews$ | async as reviews">
  <app-review-item *ngFor="let review of reviews"
   [text]="review.text" [downVote]="review.downVote" [upVote]="review.upVote"
   [user]="review.user" [date]="review.date"
    (removeReview)="removeReview(review)" [user]="review.$key" (upVoteClicked)="voteReview(review,1)" (downVoteClicked)="voteReview(review,-1)">
  </app-review-item>
  <p class="empty-reviews" *ngIf="reviews.length === 0">
      Be the first one to review this book
  </p>
</div>

<app-add-review (reviewAdded)="addReview($event)"></app-add-review>
