
:host{
    margin-bottom: 50px;
}

.detail {
    margin: 64px 32px;
    width: 50%;
    max-width: 400px;
    transition: opacity 0.4s;
    opacity: 0;
}

.block {
    display: inline-block;
}

app-reviews-container{
    margin-left: 15%;
    margin-right: 15%;
}

md-grid-list{
    display:block !important;
}

.review-title{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #202020;
    font-size: 1.3em;
    font-weight: 500;
    margin: 32px 0;
}

.selected-book {
    margin-left : 10%;
    margin-right: 10%;
    text-align: center;
}

td,th {
    vertical-align: middle !important;
}