<!-- <div *ngIf="selectedBook$ | async as book">
  <app-book-navigator [current]="(current$ | async) + 1" [count]="count$ | async" (onNext)="nextBook($event)" (onPrevious)="previousBook($event)"></app-book-navigator>

  <table>
    <ng-container *ngIf="book">
      <tbody>
        <tr>
          <th>Couverture</th>
          <td><img [src]="book.image"></td>
        </tr>
        <tr>
          <th>Titre</th>
          <td>{{book.title}}</td>
        </tr>
        <tr>
          <th>Author</th>
          <td>{{book.author}}</td>
        </tr>
        <tr>
          <th>Price</th>
          <td>{{book.price | currency:'TND'}}</td>
        </tr>
        <tr>
          <th>Pages</th>
          <td>{{book.pages}}</td>
        </tr>
        <tr>
          <th>Price</th>
          <td>{{book.rating}}</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>
            <div [innerHtml]="book.description"></div>
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            <app-add-to-cart (addToCart)="addBookToCart(book)"></app-add-to-cart>
          </td>
        </tr>
      </tbody>
    </ng-container>
  </table>
</div>


<i *ngIf="loading$ | async" class="fa fa-spin fa-refresh"></i> -->

<!-- <div *ngIf="selectedBook$ | async as book">
  <app-book-navigator [current]="(current$ | async) + 1" [count]="count$ | async" (onNext)="nextBook($event)" (onPrevious)="previousBook($event)"></app-book-navigator>


  <md-grid-list cols="2" rowHeight="2:1">
    <md-grid-tile>

    </md-grid-tile>
    <md-grid-tile>

    </md-grid-tile>
  </md-grid-list>

</div> -->

<div class="selected-book" *ngIf="selectedBook$ | async as book">
  <app-book-navigator [current]="(current$ | async) + 1" [count]="count$ | async" (onNext)="nextBook($event)" (onPrevious)="previousBook($event)"></app-book-navigator>

  <!--   <md-grid-list *ngIf="book" cols="2">
 -->
  <table *ngIf="book">
    <td width="50%">
      <img height="70%" [src]="book.image">

    </td>
    <td width="50%">
      <h1>{{book.title}}</h1>
      <p> By {{book.title}} </p>
      <div class="price">{{book.price | currency:'EUR'}}</div>
      <p> {{book.pages}} pages</p>
      <div [innerHtml]="book.description"></div>
      <button (click)="addBookToCart(book)" md-raised-button color="primary">ADD TO CART</button>
    </td>
  </table>

  <!--  <md-grid-tile>
      <img width="60%" height="70%" [src]="book.image">
    </md-grid-tile>
    <md-grid-tile>
      <h1>{{book.title}}</h1>
      <p> By {{book.title}} </p>
      <div class="price">{{book.price | currency:'TND'}}</div>
      <p> {{book.pages}} pages</p>
      <div [innerHtml]="book.description"></div>
      <button md-raised-button color="primary">ADD TO CART</button>

    </md-grid-tile>
  </md-grid-list>
 -->
  <p class="review-title">Reviews</p>
  <app-reviews-container [bookId]="book._id.$oid"></app-reviews-container>

</div>