<table *ngIf="books$ | async as books">
  <thead>
    <tr>
      <th></th>
      <th>Titre</th>
      <th>Auteur</th>
      <th>Prix </th>
      <th>Note</th>

      <th></th>
    </tr>
  </thead>
  <tbody>

    <tr class="catalog-row" *ngFor="let book of books">
      <td>
        <a [routerLink]="'/catalog/book/'+book._id.$oid">
      <img [src]="book.image">
      </a>
      </td>
      <td> <a routerLink="/catalog/book/{{book._id.$oid}}">{{book.title}} </a> </td>
      <td>{{book.author}}</td>
      <td>{{book.price | currency:'TND'}}</td>
      <!--     <td [innerHtml]="book.rating | ratingHtml"></td>
 -->
      <td>{{book.rating}}</td>



      <td class="catalog-buy">
        <app-add-to-cart (addToCart)="addBookToCart(book)"></app-add-to-cart>
      </td>
    </tr>
  </tbody>
  <!--  <tfoot>
  <tr>
    <td colspan="4">Total</td>
    <td class="right">{{totalHt() |currency:currency:true}}</td>
    <td class="right">{{totalTtc() |currency:currency:true}}</td>
    <td></td>
  </tr>
  </tfoot> -->
</table>

<!--   <i *ngIf="loading$ | async" class="fa fa-spin fa-refresh"></i>  
 -->
<!-- <pre>{{books | json}}</pre>
 -->

<md-progress-spinner *ngIf="loading$ | async" color="primary" mode="indeterminate" value="50">
</md-progress-spinner>