<div class="cart-row">
  <mat-grid-list cols="7" rowHeight="100px">
    <mat-grid-tile><img width="70px" [src]="row.book.image"/></mat-grid-tile>
    <mat-grid-tile
      ><a (click)="clicked.emit()" routerLink="/catalog/book/{{ row.book.id }}"
        >{{ row.book.title }}
      </a></mat-grid-tile
    >
    <mat-grid-tile>{{ row.book.author }}</mat-grid-tile>
    <mat-grid-tile>{{ row.book.price | currency: 'EUR':true }}</mat-grid-tile>
    <mat-grid-tile
      ><input
        type="number"
        (change)="quantityUpdated.emit()"
        [(ngModel)]="row.quantity"
    /></mat-grid-tile>
    <mat-grid-tile>{{
      row.quantity * row.book.price | currency: 'EUR':true
    }}</mat-grid-tile>
    <mat-grid-tile
      ><a (click)="remove.emit()">
        <i style="cursor: pointer;" class="material-icons">close</i></a
      ></mat-grid-tile
    >
  </mat-grid-list>
</div>
